<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Responsive Fixed Sidebar</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<link
			rel="stylesheet"
			href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
		/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css'%}">
	</head>
	<body>
		<aside class="sidebar">
			<nav>
				<ul class="sidebar__nav">
					<li>
						<a href="{% url 'index' %}" class="sidebar__nav__link">
							<i class="mdi mdi-fingerprint"></i>
							<span class="sidebar__nav__text">หน้าหลัก</span>
						</a>
					</li>
                    <li>
						<a href="{% url 'basket' %}" class="sidebar__nav__link">
							<i class="mdi mdi-cart"></i>
							<span class="sidebar__nav__text">ตะกร้าสินค้า</span>
						</a>
					</li>
                    {% if request.user.is_staff %}
					<li>
						<a href="{% url 'queue' %}" class="sidebar__nav__link">
							<i class="mdi mdi-credit-card"></i>
							<span class="sidebar__nav__text">คิวสั้งซื้อ</span>
						</a>
					</li>
					<li>
						<a href="{% url 'manage' %}" class="sidebar__nav__link">
							<i class="mdi mdi-account-circle"></i>
							<span class="sidebar__nav__text">จัดการสินค้า</span>
						</a>
					</li>
					<li>
						<a href="{% url 'allreport' %}" class="sidebar__nav__link">
							<i class="mdi mdi-camera"></i>
							<span class="sidebar__nav__text">สรุปยอดขาย</span>
						</a>
					</li>
                    {% endif %}
					{% comment %} <li>
						<a href="#" class="sidebar__nav__link">
							<i class="mdi mdi-settings"></i>
							<span class="sidebar__nav__text">ตั้งค่า</span>
						</a>
					</li> {% endcomment %}
                    <li class="nav-item dropdown pl-1">
                        {% if request.user.is_active %}
                            <a class="nav-link dropdown-toggle sidebar__nav__link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-settings"></i>
							<span class="sidebar__nav__text">ตั้งค่า</span>
                        
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <center>
                            <img src="{{request.user.profile.picture.url}}" width='50%'>
                            <a>สวัสดี,{{request.user}}</a>
                            </center><br>
                            <a class="dropdown-item" href="{% url 'profile' %}">โปรไฟล์</a>
                            <a class="dropdown-item" href="{% url 'changepassword' %}">เปลี่ยนรหัสผ่าน</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">ออกจากระบบ</a>
                            </div>
                        </li> 
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">เข้าสู่ระบบ</a>
                        {% endif %}
				</ul>
			</nav>
		</aside>
		<div class="container">
            <main class="main">
            {% block content %}

            {% endblock %}
            </main>
    </div>
	</body>
</html>
