{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>โปรไฟล์</h2>
        <hr>
        {% for m in messages %}
        <div class="alert alert-danger" role="alert">
            {{m}}
        </div>
        {% endfor %}
        <center>
        <div class='row'>
            <div class='col-5'>
                <img src="{{user.profile.picture.url}}" width='70%'>
            </div>
            <div class='col-5'>
                <form method="POST" action="{% url 'myprofile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form2.as_p}}
                {{form1.as_p}}
                <input type='submit' value='Save' class='btn btn-success col'>
                </form>
            </div>
        </div>
        </center>
    </div>
{% endblock %}