{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>แก้ไขโปรไฟล์</h2>
        <hr>
        {% for m in messages %}
        <div class="alert alert-info" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{m}}
        </div>
        {% endfor %}
        <center>
        <div class='row'>
            <div class='col'>
                <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form2.as_p}}
                {{form1.as_p}}
                <input type='submit' value='Save' class='btn btn-success col'>
                </form>
            </div>
        </div>
        </center>
    </div>
{% endblock %}