{% extends 'base.html' %}
{% block content %}
<body>
{% for m in messages %}
        <div class="alert alert-info" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{m}}
        </div>
{% endfor %}
  <div class="container">
    <h2>จัดการสินค้า</h2>
    <hr>
    <form method="GET" action="{% url 'manage' %}">
      <div class="row">
        <div class="col-sm-2">
          <label>ค้นหาสินค้า :</label>
        </div>
        <div class="col-sm-4">
          <input type="text" name="search" value="{{searchtxt}}" placeholder="ค้นหา" class="form-control col">
        </div>
        <div class="col-sm-4">
          <select name="sel" id="" class="form-control col">
            <option value="0">ทั้งหมด</option>
              {% for t in type %}
                <option value="{{t.id}}">{{t.type_name}}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary col"><span class="glyphicon glyphicon-search"></button>
        </div>
      </div><br>
      <div class="row">
        <div class="col">
          <a href="{% url 'addpd'%}">
            <div class="btn btn-outline-success col">เพิ่มสินค้า</div>
          </a>
        </div>
      </div>
    </form><br>
    
    {% comment %} <div class="scr"> {% endcomment %}
      <table class="table table-bordered-primary text-center">
        <thead class="bg-dark text-light">
          <tr>
            <td>รหัส</td>
            <td>ชื่อสินค้า</td>
            <td>ประเภทสินค้า</td>
            <td>ราคาสินค้า</td>
            <td>จำนวนสินค้า</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        {% for p in product %}
          {% if p.stock < 5%}
            <tr class='bg-warning'>
          {% else %}
            <tr>
          {% endif %}
            <td width='30'>{{ p.id }}</td>
            <td width='150'>{{ p.name }}</td>
            <td width='80'>{{ p.type.type_name }}</td>
            <td width='120'>{{ p.price|stringformat:".2f" }} บาท</td>
            <td width='70'>{{ p.stock }}</td>
            <td width='20'>
              <a href="{% url 'pup' product_id=p.id %}">
                <div class="buttonbluegreen col">อัพเดท</div>
              </a>
            </td>
            <td width='20'>
              <a href="{% url 'del_product' product_id=p.id %}">
                <div class="buttonred col">ลบสินค้า</div>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr><td colspan='7'>ไม่พบสินค้า</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% comment %} </div> {% endcomment %}
  </div>
</body>
<style>
  .scr {
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
  }
</style>
{% endblock %}