{% extends 'basesell.html' %}
{% block content %}
 <div class="container">
  {% if product.id %}
  <form method="POST" action="{% url 'pup' product_id=num %}">
    <h2>อัพเดทสินค้าของหมายเลข - {{num}}</h2>
    <hr>
    {% if notice %}
    <div class="alert alert-info" role="alert">
      {{notice}}
    </div>
    {% endif %}

    {% else %}
    <form method="POST" action="{% url 'adddb' %}">
      <h2>เพิ่มสินค้า</h2>
      <hr>
      {% if notice %}
      <div class="alert alert-info" role="alert">
        {{notice}}
      </div>
      {% endif %}
      {% endif %}

      {% csrf_token %}
      <div class="form-group">
        <div class="col">
          {% if product.id %}
          <label>ประเภทสินค้า :</label>
          <select name="txt" class="form-control col-4">

            {% for t in type %}
            <option value="{{t.id}}" {% if product.type.id == t.id %} selected {% endif %}>{{t.type_name}}</option>
            {% endfor %}

          </select>
          {% else %}
          <label>ประเภทสินค้า :</label>
          <select name="txt_1" class="form-control col-4">
            {% for t in type %}
            <option value="{{t.id}}">{{t.type_name}}</option>
            {% endfor %}
          </select>
          {% endif %}
        </div>
        <div class="col">
          <label>ชื่อสินค้า :</label>
          <input type="text" class="form-control" name="txt_2" value="{{product.name}}" required>
        </div>
        <div class="col">
          <label>จำนวน :</label>
          <input type="text" class="form-control" name="txt_3" value="{{product.stock}}" required>
        </div>
        <div class="col">
          <label>ราคาของสินค้า :</label>
          <input type="text" class="form-control col-2" name="txt_4" value="{{product.price}}" required>
        </div><br>
        <div class="col">
          <label>รูป :</label>
          <input type="file" name="txt_5" accept="image/*" required>
        </div>
      </div>
      <input type="submit" class="btn btn-success" value="ตกลง">
    </form><br>
</div>
{% endblock %}