{% extends 'base.html' %}
{% block content %}
<style>
    .table-area{
        height: 55vh;
        overflow-y: scroll;
    }
    .pad{
        margin-left:700px;
    }
</style>
    <h2>คิวสั่งซื้อ</h2><br>
    {% comment %} {{ total }} {% endcomment %}
    <table class="table table-bordered-primary text-center">
        <thead class="">
          <tr>
            <td>หมายเลขออเดอร์</td>
            <td>ชื่อผู้ใช้</td>
            <td>ราคาสินค้ารวม</td>
            <td>วันที่</td>
            <td colspan='2'></td>
          </tr>
        </thead>
        <tbody>
        {% for o in order %}
          <tr>
            <td width='20'>{{ o.id }}</td>
            <td width='150'>{{ o.cust_name }}</td>
            <td width='60'>{{ o.total_price |stringformat:'.2f'}}</td>
            <td width='140'>{{o.date}}</td>
            <td width='20'>
              <a href="{% url 'detail' order_id=o.id %}">
                <div class="btn btn-success col">รายละเอียด</div>
              </a>
            </td>
            <td width='20'>
              <a href="{% url 'deleteorder' order_id=o.id %}">
                <div class="btn btn-danger col">ลบ</div>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
{% endblock %}
