{% extends 'basesell.html' %}
{% block content %}
    <H2>ตระกร้า</h2>
        {% comment %} {% for p in product %}
            {% if p.stock > 0 and p.type.id == 2%}
            <div class="card col-3">
                <img class="card-img-top" src="{{ p.picture.url }}" alt="" width='100%' height='150px'> 
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text">{{ p.type.type_name }}</p>
                    <p class="card-text">{{ p.price|stringformat:".2f" }} บาท</p>
                    <a href="#"><p class="card-text">
                        <div class="btn btn-primary col">เพิ่ม</div>
                    </p></a>
                </div>
            </div>
        {% endfor %}  {% endcomment %}
{% endblock %}
