{% extends 'basesell.html' %}
{% block content %}
    <form method="GET" action="{% url 'index' %}">
        <div class="row">
            <div class="col-sm-3">
                <p class="text-center">ค้นหาสินค้า</p>
            </div>
            <div class="col-sm-4">
                <input type="text" name="search" id="search" value="{{search}}" placeholder="ค้นหา"
                      class="form-control col">
            </div>
            <div class="col-sm-3">
                <select name="sel" id="{{sel}}" class="form-control col">
                    <option value="0">ทั้งหมด</option>
                    {% for t in type %}
                        <option value="{{t.id}}">{{t.type_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary col">ค้นหา</button>
            </div>
        </div>
    </form>
    <table class="table text-right">
    </table>
    <div class="card-group col-6">
        {% for p in product %}
            <div class="card">
                <img class="card-img-top" src="{{ p.picture.url }}" alt="" style="max-width:50%;"> 
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text">{{ p.type.type_name }}</p>
                    <p class="card-text">{{ p.price|stringformat:".2f" }} บาท</p>
                    <a href="#"><p class="card-text">
                        <div class="btn btn-primary col">เพิ่ม</div>
                    </p></a>
                </div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}
