{% extends 'base.html' %}
{% block content %}
{% for m in messages %}
        <div class="alert alert-info" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{m}}
        </div>
{% endfor %}
    <form method="GET" action="{% url 'index' %}">
        <div class="row">
            <div class="col-sm-3">
                <p class="text-center">ค้นหาสินค้า</p>
            </div>
            <div class="col-sm-4">
                <input type="text" name="search" id="search" value="{{search}}" placeholder="ค้นหา"
                      class="form-control col">
            </div>
            <div class="col-sm-3">
                <select name="sel" id="{{sel}}" class="form-control col">
                    <option value="0">ทั้งหมด</option>
                    {% for t in type %}
                        <option value="{{t.id}}">{{t.type_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary col">ค้นหา</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="card-group">
        <div class="row">
        {% for p in product %}
            <div class="card col-lg-3">
                <img class="card-img-top" src="{{ p.picture.url }}" alt="" width='100%' height='225px'> 
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text">{{ p.type.type_name }}</p>
                    <p class="card-text">{{ p.price|stringformat:".2f" }} บาท</p>
                    {% if p.stock > 0 %}
                    <a href="{% url 'addtobasket' product_id=p.id%}"><p class="card-text">
                        <div class="btn btn-success col">หยิบสินค้าลงตะกร้า</div>
                    </p></a>
                    {% else %}
                        <div class="btn btn-info col disabled">สินค้าหมด</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>   
{% endblock %}
